@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";

@import "~noty/src/noty.scss";
@import "~noty/src/themes/nest.scss";

$primary: #e9385f;
$secondary: #303030;
$light-gray: #dedede;