@import "custom";

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: $light-gray;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: $primary;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $secondary;
    }

    header {
        width: 100%;
        position: fixed;
        z-index: 999;
        
        .navbar {
            background-color: #ffffff;
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .nav-brand {
                margin-left: 10px;
                height: 40px;

                img {
                    height: 100%;
                }
            }

            .nav-menu {
                display: flex;
                align-items: center;
                margin-right: 10px; 

                .nav-items{
                    display: flex;
                    transition: 0.3s ease-out;
                    transform-origin: 100% 50%;

                    a {
                        font-weight: 500;
                        text-decoration: none;
                        color: $secondary;
                        margin: 0 10px;
    
                        &:hover {
                            color: $primary;
                        }
                    }

                    &.hide {
                        transform: scale(0);
                    }
                }

                .nav-toggler {
                    margin-left: 20px;
                    width: 27px;
                    height: 23px;
                    transform: rotate(0deg);
                    transition: .3s ease-in-out;
                    cursor: pointer;
                
                    span {
                        display: block;
                        position: absolute;
                        height: 5px;
                        width: 100%;
                        background-color: $secondary;
                        border-radius: 5px;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .2s ease-in;
                
                        &:nth-child(1) {
                            top: 0px;
                        }
                
                        &:nth-child(2), &:nth-child(3) {
                            top: 9px;
                        }
                
                        &:nth-child(4) {
                            top: 18px;
                        }
                    }
                
                    &.open span{
                        &:nth-child(1), &:nth-child(4) {
                            top: 9px;
                            width: 0%;
                            left: 50%;
                        }
                
                        &:nth-child(2) {
                            transform: rotate(45deg);
                        }
                
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                
                    &:hover span{
                        background-color: $primary;
                    }
                }
            }
        }
    }

    main {
        .bg-bubbles {
            background-color: $primary;
            overflow: hidden;
            position: absolute; 
            top: 0; 
            left: 0; 
            width: 100%; 
            height: 100vh;
            z-index: -1;

            li {
                position: absolute;
                list-style: none;
                display: block;				
                background-color: #ffffff;
                opacity: 0.1;
                bottom: -200px;
                animation: square 26s infinite;
                transition-timing-function:	ease-in;

                &:nth-child(1)	{
                    left: 10%;
                    top: 20%;
                    width: 120px;
                    height: 120px;			
                    background-color: #000000;
                    animation-duration: 26s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                &:nth-child(2)	{
                    left: 75%;
                    top: 35%;
                    width: 170px;
                    height: 170px;			
                    animation-duration: 31s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                &:nth-child(3)	{
                    left: 35%;
                    top: 65%;
                    width: 150px;
                    height: 150px;			
                    background-color: #000000;
                    animation-duration: 29s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }

                &:nth-child(4) {
                    left: 40%;
                    width: 70px;
                    height: 70px;			
                    background-color: #000000;
                    animation-duration: 21s;
                    animation-delay: 1s;
                }

                &:nth-child(5) {
                    left: 85%;
                    width: 100px;
                    height: 100px;			
                    animation-duration: 24s;
                    animation-delay: 2s;
                }

                &:nth-child(6) {
                    left: 50%;
                    width: 30px;
                    height: 30px;			
                    background-color: #000000;
                    animation-duration: 17s;
                    animation-delay: 4s; 
                }

                &:nth-child(7) {
                    left: 45%;
                    width: 130px;
                    height: 130px;			
                    animation-duration: 27s;
                    animation-delay: 6s; 
                }

                &:nth-child(8) {
                    left: -5%;
                    width: 150px;
                    height: 150px;			
                    animation-duration: 29s;
                    animation-delay: 10s; 
                }
                
                &:nth-child(9) {
                    left: 95%;
                    width: 40px;
                    height: 40px;			
                    background-color: #000000;
                    animation-duration: 18s;
                    animation-delay: 12s; 
                }

                &:nth-child(10) {
                    left: 20%;
                    width: 180px;
                    height: 180px;			
                    background-color: #000000;
                    animation-duration: 32s;
                    animation-delay: 14s;
                }

                &:nth-child(11) {
                    left: 60%;
                    width: 140px;
                    height: 140px;			
                    background-color: #000000;
                    animation-duration: 28s;
                    animation-delay: 18s;
                }

                &:nth-child(12) {
                    right: -10%;
                    width: 200px;
                    height: 200px;			
                    animation-duration: 34s;
                    animation-delay: 20s;
                }

                &:nth-child(13) {
                    left: 85%;
                    width: 60px;
                    height: 60px;			 
                    animation-duration: 20s;
                    animation-delay: 22s;
                }

                &:nth-child(14) {
                    left: 50%;
                    width: 90px;
                    height: 90px;			
                    animation-duration: 23s;
                    animation-delay: 24s;
                }

                &:nth-child(15) {
                    left: 10%;
                    width: 20px;
                    height: 20px;			
                    animation-duration: 16s;
                    animation-delay: 26s;
                }

                &:nth-child(16)	{
                    left: 10%;
                    width: 120px;
                    height: 120px;			
                    background-color: #000000;
                    animation-duration: 26s;
                    animation-delay: 26s;
                }

                &:nth-child(17)	{
                    left: 75%;
                    width: 170px;
                    height: 170px;			
                    animation-duration: 31s;
                    animation-delay: 31s;
                }

                &:nth-child(18)	{
                    left: 35%;
                    width: 150px;
                    height: 150px;			
                    background-color: #000000;
                    animation-duration: 29s;
                    animation-delay: 29s;
                }
            }

            @keyframes square {
                0% {
                    transform: translateY(0);
                }
                100% { 
                    transform: translateY(calc(-100vh - 300px)) rotate(600deg);
                }
            } 
        }

        section {
            position: relative;
            min-height: 100vh;
            background-color:$secondary;
            padding: 25px 0;
        }
        
        #home {
            background-color: transparent;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .content {
                text-align: center;
                display: inline-block;
                width: 70%;

                h1, h2 {
                    display: inline-block;
                }

                h2 {
                    font-weight: 600;
                }

                hr {
                    height: 1.5px;
                    width: 50%;
                    background-color: $secondary;
                }

                .cursor {
                    animation: cursor 800ms infinite;
                }
            }

            .link {
                position: absolute;
                align-self: center;
                color: $secondary; 
                animation: arrow 2s infinite;
                transition-timing-function:	ease-in-out;
                padding: 10pt 20pt;

                &:hover {
                    color: #ffffff;
                }
            }

            @keyframes arrow {
                0%, 100%  {
                    bottom: 60px;
                    font-size: 35pt;
                }
                50% { 
                    bottom: 80px;
                    font-size: 50pt;
                }
            }

            @keyframes cursor {
                0% {
                    opacity: 1;
                }
                100% { 
                    opacity: 0;
                }
            
            }
        }

        #me {
            color: #ffffff;
            display: flex;
            justify-content: space-around;

            .profile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 25px 0;
                width: 20%;

                img {
                    width: 100%;
                    border-radius: 50%;
                }

                span {
                    padding-top: 10px; 
                    text-align: center;
                    font-size: 24pt;
                }
            }

            .bio {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                padding: 25px 0;
                width: 50%;

                p {
                    text-align: justify;
                    font-size: 20pt;
                    margin: 0;

                    a {
                        color: $primary;
                        text-decoration: none;
                        font-weight: 300;
    
                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        #skills {
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .title {
                padding: 25px 0;
            }

            div {
                width: 70%;
            }
        }

        #portfolio {
            background-color: $primary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .title {
                padding: 25px 0;
                color: #fff;
            }

            .cards {
                width: 70%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                .card {
                    width: 50%;
                    max-width: 400px;
                    height: 225px;
                    padding: 15px 10px;
                    cursor: pointer;
                    display: block;
                    text-decoration: none;
    
                    .overwrap {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 5px;
    
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: all 300ms ease-in-out;
                        }
                    }
    
                    .overinfo {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        top: -100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        visibility: hidden;

                        .title {
                            font-weight: 600;
                        }

                        .date {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            font-weight: 300;
                        }
                    }
    
                    &:hover {
                        .overwrap img {
                            transform: scale(1.3);
                            filter: blur(2px) brightness(.6);
                        } 
    
                        .overinfo {
                            visibility: visible;
                        }
                    }
                }
            }
        }

        #contact {
            background-color: $secondary;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 25px 0;

            > div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;

                .title {
                    padding: 25px 0;
                    color: #fff;
                }
    
                .sub-title {
                    color: #fff;
                    font-size: 1.2em;
                    text-align: center;
                }
            }

            form {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;

                > div {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    width: 100%;

                    .form-control {
                        display: flex;
                        flex-direction: column;

                        input, textarea {
                            &.error {
                                border-color: $primary !important;
                            }
                        }

                        label.error {
                            color: #fff;
                            margin: 5px 0;
                        }
                    }

                    .inputs {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;
                        height: 90px;

                        .form-control {
                            width: calc(50% - 17px);
                            height: 40px;

                            input {
                                padding: 10px;
                                border-radius: 5px;
                                border: 2px solid transparent;
                                outline: none;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }

                    .message {
                        height: 184px;

                        textarea {
                            height: 140px;
                            resize: none;
                            padding: 10px;
                            border-radius: 5px;
                            border: 2px solid transparent;
                            outline: none;
                            margin-top: 10px;
                        }
                    }
                }

                button {
                    height: 40px;
                    width: 200px;
                    padding: 0;
                    border-radius: 5px;
                    border: 2px solid transparent;
                    outline: none;
                    background-color: $primary;
                    color: #fff;
                    font-weight: 300;
                    font-size: 14pt;
                    transition: all 250ms ease-in-out;

                    &:hover {
                        border-color: #fff;
                        font-weight: 500;
                    }
                }
            }

        }
    }

    footer {
        background-color: $secondary;
        font-size: 10pt;
        text-align: center;
        color: #fff;
        padding: 15px 0;
        
        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 992px) {
    body {
        main {
            #portfolio {
                .cards {
                    .card {
                        height: 180px;
                    }
                }
            }

            #contact {    
                form {
                    width: 70%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        header {
            .nav-brand img {
                content: url(../img/dg.svg) !important;
            }

            .nav-menu {
                .nav-items {
                    width: 100%;
                    position: absolute;
                    top: 50px;
                    right: 0;
                    z-index: -1 !important;
                    transform-origin: 50% 50%;
                    background-color: #ffffff;
                    flex-direction: column;
                    align-items: flex-end;

                    a {  
                        position: relative;
                        right: 0;
                        margin: 10px !important;
                        transition: right .2s ease-in;
                        transition-delay: .23s;

                        &:nth-child(2) {
                            transition-delay: .26s;
                        }

                        &:nth-child(3) {
                            transition-delay: .29s;
                        }

                        &:nth-child(4) {
                            transition-delay: .32s;
                        }

                        &:nth-child(5) {
                            transition-delay: .35s;
                        }
                    }

                    &.hide {
                        transform: scale(1) !important;
                        top: -200px;

                        a {
                            right: -200px;
                        }
                    }
                }
            }
        }

        main {
            .bg-bubbles {
                li {
                    &:nth-child(5) &:nth-child(6), &:nth-child(10), &:nth-child(11), &:nth-child(12), &:nth-child(13), &:nth-child(14) {
                        display: none;
                    }
                }
            }

            #home {
                .content {
                    width: 90%;
                }
            }

            #me {
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
    
                .profile {
                    width: 90%;
    
                    img {
                        width: 150px;
                    }
                }

                .bio {
                    width: 90%;
                }
            }

            #skills {
                div {
                    width: 90%;
                }
            }

            #portfolio {
                .cards {
                    width: 90%;
                    justify-content: center;

                    .card {
                        width: 100%;
                        height: 225px;
                    }
                }
            }
    
            #contact {    
                form {
                    width: 90%;

                    > div {
                        .inputs {
                            height: auto;

                            .form-control {
                                width: 100%;
                                height: 80px;

                                input {
                                    height: 40px;
                                }
                            }
                        }

                        .message textarea {
                            margin-top: 0;
                        }
                    }

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.noty_theme__nest.noty_type__success {
    background-color: $secondary;
}

.noty_theme__nest.noty_type__warning {
    background-color: #fff;
    color: $primary;
}

.noty_theme__nest.noty_type__error {
    background-color: $primary;
}

.noty_effects_open {
    opacity: 1;
    transform: translateY(100px);
    animation: noty_anim_in 0.5s ease-in-out;
}

.noty_effects_close {
    opacity: 1;
    animation: noty_anim_out 0.5s ease-in;
}

@keyframes noty_anim_in {
    100% {
        transform: translateY(0);
    }
}

@keyframes noty_anim_out {
    100% {
        transform: translateY(100px);
    }
}